<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitterIrcGatewayService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwitterIrcGatewayService.Settings>
            <setting name="Port" serializeAs="String">
                <value>16668</value>
            </setting>
            <setting name="BindAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </TwitterIrcGatewayService.Settings>
    </userSettings>
    <connectionStrings>
      <add name="Misuzilla.Applicaitons.TwitterIrcGateway.AddIns.SqlServerDataStore.Properties.Settings.DatabaseConnectionString"
          connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=TwitterIrcGateway"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>